RewriteEngine On

# Akses backend lewat /admin
RewriteRule ^admin(/.*)?$ backend/web/$1 [L]

# Akses frontend untuk semua selain /admin
RewriteCond %{REQUEST_URI} !^/backend/web/
RewriteCond %{REQUEST_URI} !^/admin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ frontend/web/$1 [L]
